.col-sm-4      
  %h3=link_to business.name, business_path(business) 
  %p
    = business.address
    %br
    = business.city + ", " + business.state
  %label Overall Rating
  %p
    - business.average_rating.to_i.times do
      <span class="glyphicon glyphicon-ice-lolly-tasted"></span> 
    #{business.average_rating} / 5 bites
  %hr