.jumbotron(style="text-align: center")
  %h1 chOMP 
  %h2 Find and rate local restaurants. Connect with others. Keep track of your favorite places.
  %h4 Want to see more? Create an account to enjoy sharing your tastes with everyone!
  %h2= link_to "Register today!", register_path
  %h4 Already have an account?  
  %h4= link_to "Please Sign In.", sign_in_path