.jumbotron(style="text-align: center")
  %h1 chOMP 
  %h2 Find and rate local eateries. 
  %h2= link_to "Register today!", register_path
  %h4 Have an account?  
  %h4= link_to "Please Sign In.", sign_in_path