%section.container
  .row
    .col-sm-10.col-sm-offset-1
      %h2 All Eateries
    .col-sm-6.col-sm-offset-1
      - 10.times do
        %label <a>Restaurant</a> 
        %p Street Address
        %label Category 
        %p Italian
        %p City, State
        %label Overall Rating
        %p <span class="glyphicon glyphicon-ice-lolly-tasted"></span> <span class="glyphicon glyphicon-ice-lolly-tasted"></span> <span class="glyphicon glyphicon-ice-lolly-tasted"></span> <span class="glyphicon glyphicon-ice-lolly-tasted"></span> <span class="glyphicon glyphicon-ice-lolly-tasted"></span>   5/5 bites
        %hr