%section.container
  .row
    .col-sm-10.col-sm-offset-1
      %h2 Recently Added Eateries
    .col-sm-6.col-sm-offset-1
      - 5.times do
        %label <a>Restaurant</a> 
        %p Street Address
        %p City, State
        %label Overall Rating
        %p <span class="glyphicon glyphicon-ice-lolly-tasted"></span> <span class="glyphicon glyphicon-ice-lolly-tasted"></span> <span class="glyphicon glyphicon-ice-lolly-tasted"></span> <span class="glyphicon glyphicon-ice-lolly-tasted"></span> <span class="glyphicon glyphicon-ice-lolly-tasted"></span>   5/5 bites

        %hr
  .row
    .col-sm-10.col-sm-offset-1
      %h2 Recent chOMPs
    .col-sm-6.col-sm-offset-1
      - 5.times do
        %label 
        %p <a>Restaurant</a> 
        %label Reviewed by:
        %p <a>John Doe</a>
        %label Rating
        %p <span class="glyphicon glyphicon-ice-lolly-tasted"></span> <span class="glyphicon glyphicon-ice-lolly-tasted"></span> <span class="glyphicon glyphicon-ice-lolly-tasted"></span> <span class="glyphicon glyphicon-ice-lolly-tasted"></span> <span class="glyphicon glyphicon-ice-lolly-tasted"></span>   5/5 bites
        %label Review
        %p This is the best place ever. Can you believe they gave me free cookies?!
        %hr        