%section.container
  .row
    .col-sm-10.col-sm-offset-1
      %h2 All chOMPs
    .col-sm-6.col-sm-offset-1
      - 10.times do
        %label <a>Restaurant</a> 
        %p
        %label Reviewed by:
        %p <a>John Doe</a>
        %label Rating
        %p <span class="glyphicon glyphicon-ice-lolly-tasted"></span> <span class="glyphicon glyphicon-ice-lolly-tasted"></span> <span class="glyphicon glyphicon-ice-lolly-tasted"></span> <span class="glyphicon glyphicon-ice-lolly-tasted"></span> <span class="glyphicon glyphicon-ice-lolly-tasted"></span>   5/5 bites
        %label Review
        %p This is the best place ever. Can you believe they gave me free cookies?!
        %hr 