%section.container
  .row
    .col-sm-10.col-sm-offset-1.profile
      .col-sm-3
        %img.img-responsive(src="/assets/face_icons/woman6.png") 
      .col-sm-5
        %h2 Jane Doe
        %h4 New York, New York 
        %hr
        
  .row
    .col-sm-6.col-sm-offset-1
      %h4 My chOMPs
      - 5.times do
        %label <a>Restaurant</a> 
        %p Street Address
        %p City, State
        %label Rating
        %p <span class="glyphicon glyphicon-ice-lolly-tasted"></span> <span class="glyphicon glyphicon-ice-lolly-tasted"></span> <span class="glyphicon glyphicon-ice-lolly-tasted"></span> <span class="glyphicon glyphicon-ice-lolly-tasted"></span> <span class="glyphicon glyphicon-ice-lolly-tasted"></span>   5/5 bites
        %label Review
        %p This is the best place ever. Can you believe they gave me free cookies?!
        %hr
    .col-sm-3.col-sm-offset-1
      %h4 About Jane Doe
      %label Location
      %p New York, New York
      %label chOMPing since
      %p 10/10/10
      %label Latest chOMP
      %p 5/5/15
      %label Total chOMPs
      %p 237
      %hr
      %label <a>Update Profile</a>
      