%section.container
  .row
    .col-sm-10
      .well
        %header
          %h1 Add a New Category
        = bootstrap_form_for [:admin, @category] do |f|
          %fieldset
            .form-group.col-sm-11
              = f.text_field :name, label: "Name", layout: :horizontal
          %fieldset.actions.control-group.col-sm-offset-2
            = f.submit "Submit", class: "btn btn-success"
            = link_to "Cancel", home_path, class: "btn btn-default"