!!! 5
%html(lang="en-US")
  %body
    %p Welcome to chOMP, #{@user.name}! We're happy to have you. You can begin reviewing restaurants in your area right away! 
    %p Don't forget to check out what other users are doing and connect with the people who share your taste!
