!!! 5
%html(lang="en-US")
  %body
    %p Your claim for #{@business_ownership.business.name} has been approved. You now have access to edit your business details and reply to reviews of your business. Thanks!