%section.container
  .col-sm-12.col-sm-offset-1
    %h2= @category.name
    .row
      - @category.businesses.each do |business|
        .col-sm-4 
          %h3=link_to business.name, business_path(business) 
          %p= business.address
          %p= business.city + ", " + business.state
          %label Overall Rating
          %p
            - business.average_rating.to_i.times do
              <span class="glyphicon glyphicon-ice-lolly-tasted"></span> 
            #{business.average_rating} / 5 bites
          %hr